<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6771f/control/0/plot" value="false" />
    <add key="/lpc/nct6771f/control/1/plot" value="false" />
    <add key="/lpc/nct6771f/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="179" />
    <add key="mainForm.Width" value="590" />
    <add key="mainForm.Height" value="728" />
    <add key="/lpc/nct6771f/voltage/0/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/1/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/2/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/3/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/4/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/5/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/6/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/7/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/0/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/1/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/3/plot" value="false" />
    <add key="/lpc/nct6771f/fan/1/plot" value="false" />
    <add key="/lpc/nct6771f/fan/2/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="logSensorsMenuItem" value="true" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/hdd/5/load/0/values" value="" />
    <add key="/hdd/6/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAPP61pN/i+u6B2NDkRPX/GQmBiBgZCh0indJgrAbCpxM9ifAxefKIMSlb0LVNxQ6ffNJhKt5aoFQs9gYYWaR1BEWGPvRl0S4GgCliBcGhAAAAA==" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEALuo15d/i+u6B8OBk84fNJOZGMBA1lnP/Jo4jA0A2PztgiQAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALuo15d/i+u6B8MBNRe5REspBhAAsgG057iwGAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwNDg71coqUUAxg02AMAQlYJcRgAAAA=" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwMDg/0HzWQmBgiwN5NNgrEZcqIT4eLBkXA2g4Z6CpR9wF7UFybuYN95GqZ3gf35ILg59rwOCDOLGBFs1YkINQC4BwHXkAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAFv7oDf/Ftd1DwYGJ6fPmslMDGDg4DS7e70AjP32YyJU3N5pgn8SXA2bM4INAHc1A4hIAAAA" />
    <add key="loggingInterval" value="7" />
    <add key="startMinMenuItem" value="true" />
    <add key="maxMenuItem" value="false" />
    <add key="cpuMenuItem" value="false" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGtmuPNKqPamBwPDgf89yosYGYDg+NlpjrKfk5lA7BTJXw7XTiSC2YtzWRxPTEgFsyc+yXfc0Z0CZvvZuDo2RSWB2QwSQo4lmulgtu1GWQfXpxDx5O/zHBYEQNg/vYwcNU9A2Ks6nR3rtSB2MXxod+B8AGH33n3mcPc6xK4bhVqOAI0WQPOoAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGtmuPNKqPamBwPDgf89yosYGYBA/tpWR9nPyUwgNsOBfodrJxLB7E3BbI4nJqSC2dvqhBx3dKeA2V17+RybopIg6h2eO5RopoPZRUmWDq5PIeJ+bxY6LAiAsNNsrjhonoCwNwTbOtZrQe1iSHTgfABhq32b7XD3OsSurr8ijgC2zOtvqAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAGtmuPNKqPamBwPDgf89yosYGYDgzR1RR9nPyUwgNsOBzw7XTiSC2Uf7VjicmJAKZp9QnO+4ozsFzFYTc3dsikqCqG/IdSzRTAez1cvc7F2fwsQ5HRYEQNhd6gKOmicg7Nygdsd6LahdDnMcOB9A2O9ajjvcvQ6xa8Pk/w4AvGiSy6gAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAGtmuPNKqPamBwPDgf89yosYGYDgev9ER9nPyUwg9rSnnQ7XTiSC2UxFNxxOTEgFs+ssOh12dKeA2aK/7zk0RSWB2QwM+g4lmulgtt+bMnvXpzBxMYcFARC2zxtFB80TEHbPjlCHeq1kqJoqe84HELaItbvD3esQu7rmijoAAEIujDKoAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAGtmuPNKqPamBwPDgf89yosYGYBgw6MTjrKfk5lAbIaGXMdrJxLB7PJHXo4nJqSC2Tckrzru6E6BqLmw3LEpKgmq3tqxRDMdzH7BstzB9SlEfI6EquOCAAi7y/Syo+YJqPqENsd6LahdBz47cD6AsI/qZTnevQ6xy+/MdkcAZoSfLqgAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA//7SuYwMoCBspPs52QmCFvO6dqJRDj7xIRUKFvGaUd3CpQt69QUlQRlSzqVaKbD2a5PYeJSTgsCYGwJJ80TCPEi02S4erGryXA1d6+nwtkAWY1WT6gAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA//7SuYwMoCBspPs52QmCFvO6dqJRChb1ilkXSqULe2kk5cCZzdFJcHVlGimQ9mSTq5Pk+DsBQEwtoST5gmEeJEpzC4xJ7GryXA1d6+nwsUBGDDFz6gAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA//7SuYwMoCBttM8yRQmCFvNad+pRChb3el1aypcXCcPpkbFqSkqCcpWdirRTIeyFZ1cn8LEFZwClXs4Yey712HmyDoBAGfMnOOEAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA//7SuYwMoCBqtM8yRQmCFvBad+pRChbzul1ayqULeukk5cCZzdFJcHVlGimQ9nSTq5PYeKSTgsCkuDimidgbCmnItNkKFvC6fOakywwNgCEhZhFnAAAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA//7SuYwMoCBrtM8yRQmCFvNad+pRChb3el1aypcXCcPpkbFqSkqCcpWdhIKTIeyFZ2W74WJKzgFKvdwwth3r8PMkXUCADrzDxuEAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZACCqMgTTiezUphAbAMg+/qJJDDbGMhONIWImwDZ35kgbCMg27/5FAuM/Vc5ESxuCGQLvUiGq3f0S4KbWZmTCNerk5QKF/9ilApXDwBcj5CPnAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/8fb5jHyAAEdgwTXKwTk5lA7J+z/Vz4TiaC2R9nt7k8WZ4KZh+/F+KiWJ4CZr9+meviFZUEZkelJLo0+qSD2UrL0112HIaIhwPFp/pD2E35VS7nkiHsLTolLtLlELv6FaNdwm5A2PJAvc0XU+FmAgBEmWfuqAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/8v8S9kZACCFVXNLl+LkplA7J+z/VwuvEwEs4/fC3GpuZgCZv8FirPqpoLZESmJLrJyEPVRQLbZ1DS4+PRHEL3hQPYa8SQwuym/yqW+BaJ+i06JS74/RLxfMdplfwbE/Jcvc1321afCzQQApRp6PagAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/+7QxcxMgDBJ50Sl4h5KUwg9s/Zfi7hzxPB7OP3Qlw+X4aI/wWKm7VC2H2K0S6TzieD2VEpiS4MU1PB7Aggu40rCa5GTAui5t3LXJcJmRDxV0B2lxCE3Q9UE5oIMfMlSE1tKtxMAPVWma2oAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZACCqOXpLiezUphA7J+z/Vyun0gCs4/fC3FJNIWI/wOKf2eCsPsUo11SniaD2ROA7Ndz08DsiJREl7/KiXA1Qi8ganbolLg4+kHMfPUy16UyB6KmH6hGJykVzJYHuuGLEYQdBTQHANIk+nuoAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZACCoHVZDiezUphA7L82s+yvn0gCs9fL37FPNIWIt/Nfsv/OBGFvKD9on/I0Gcz+1DTL/tGVNDA7xqvSnu1tApg9WXyivdALiBqh5g32jn4QMxWyN9tX5iSC2TLKZfY6Salg9qVNHfZfjCDsFpG19gASJqdFqAAAAA==" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x96SyfYmTklMDEAwRaLF/m4whP1nZaH9+pIUMPvsmR771bMTwOwPy9vsmQUhahxM4+y75kHYJsbF9vN1ksFsRoYG+5VfEsFsI44ee77lEDX5Qs32xtaJcLbeBIh4yONUewAc21TJkAAAAA==" />
    <add key="/lpc/nct6771f/voltage/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6xz0VN3sTpyQmBiD4sNzN/m4wgr2+JAXMBqlZPTsBLn71QicnjM23PAmuxtg6Ec7Wm4AwBwDl+Si9bAAAAA==" />
    <add key="/lpc/nct6771f/voltage/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKAfBaUdYGIAAxF5fksIEYqvcjnRYPTuBCSauc0edHcZe+SURroZveRJcTeLpw3BzAL36J71gAAAA" />
    <add key="/lpc/nct6771f/voltage/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKIf1Ly2lGIAAxAYAyLKlhRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/4/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7MLi+wPcGmyMwABiL16dgITiJ0vtNieWTAJzu6aB2GD1MzXSYaLr/ySCGfzLUeoMbaGiBcAxfUmIMQBOvwxQHgAAAA=" />
    <add key="/lpc/nct6771f/voltage/5/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7LZLvbrX1pKMQABiA0A/3/VHRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/6/values" value="H4sIAAAAAAAEAPOaoVxwi+u6h495p/36l5ZSDEAAYgMAcgapbRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/7/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x5e/IQ7rX1pKMQABiA0Ac5j4bhgAAAA=" />
    <add key="/lpc/nct6771f/voltage/8/values" value="" />
    <add key="/lpc/nct6771f/temperature/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDh5OJUxITAwgcaHS6GwxlOzQ4rS9JgbAbGp1Wz06AsBkanZgFoWoYWpy65kHZDZVO83WSoeIVTiu/JELZdU58y2Fq6p2MrWHiVU56E2DiZU4AE6XMM5AAAAA=" />
    <add key="/lpc/nct6771f/temperature/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDhZOJUxITAxiUO90NhrFLndaXpMDZq2cnQNklTsyCSXB21zwYu9hpvk4ylF3otPJLIoTdkOfEtxymJtfJ2BoqzpDjpDchCc4GALrTeuOQAAAA" />
    <add key="/lpc/nct6771f/temperature/2/values" value="" />
    <add key="/lpc/nct6771f/temperature/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwODhJOJUxITAxhIOt0NhrFlnOYFl4rC2AC/bSWFMAAAAA==" />
    <add key="/lpc/nct6771f/fan/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/fan/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDtYuJUxITAwgo1LncDUaw15ekQNgHml3WrTnEAmN3zUOoma+TDGEvaHBZ+SURLs63HKrGoMnF2Boq/qHZRW9CElw9AB983leEAAAA" />
    <add key="/lpc/nct6771f/fan/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6B8MCHhcTpyQmBhDYwO1yNxjKnsDrsr4kBcIu4HdZPTsBwj7A5cIsmARnd81DqJ+vkww3Z+WXRDibbzlUTQOfi7F1Ilyv3gSo+AVOFwBeWnoMkAAAAA==" />
    <add key="/lpc/nct6771f/fan/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/control/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="/lpc/nct6771f/control/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwPDAsf1Ly2lGMBggSMAZ61ukxgAAAA=" />
    <add key="/lpc/nct6771f/control/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="mainboardMenuItem" value="false" />
    <add key="minCloseMenuItem" value="true" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZACCr5Nb7U9mpTCB2I7T59tdP5EEZnuc/WGXaAoRZ2RjsP/OBGFHhrLZpzxNBrMXTd9h9+hKGkRNda0d29sEMNunpcdO6AVEDc+aI3aOfhAzz039Z1eZkwhm+25osNNJSgWzD4YstftiBGFzLz5jBwBSLsDMqAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZAACjlsF9iezUphA7Jtpy2yun0gCs11MY2wSTSHiZxLm23xngrCTVRbYpDxNBrN/a4XbPLqSBmZz9222ZnubAGavYHpvvfo1RI3svDCbFV4QM5MOV9jEFSeC2QemP7R2j04Fs/2cnW2+GEHYS67k2AAAsM9dD6gAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAGtc//CVUO1NDwaGA/9XSy1hZACCm71h9iezUphA7OpP3+yun0gCs1f+YLNPNIWI/5IWt//OBGGv2i1rn/I0Gcx2s+Kxf3QlDczWXX7Lju1tAphtcPGV3erXEDWTC/jtV3hBzIybKmwfV5wIZj+7+dzOPToVzP4TwWD/xQjC5rsgbA8A8hf/7qgAAAA=" />
    <add key="ramMenuItem" value="true" />
    <add key="hddMenuItem" value="false" />
    <add key="fanControllerMenuItem" value="false" />
    <add key="gpuMenuItem" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADv3yOe1UO1NDwaGA/8BDs6XiQwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADWSW0iUURSFJy2jerPswTJqksJSIyOSLlDLsgw0hxxSSh2ztBSqB7MiDYs5+wx2AUUoDWP0IQk0FOyClphQiJkTmKQJEY1NJdodBS3s719/5+ljsfba++xz5nu/jIaWDu2x2TpnGlZsCLIZ57tdEJ3jMnkkUvDamWvy7BhBTQQ5sErQXpBncucCgcN32GT7PMP/hHp+iGBXY7bJl+YImitY+/iXwnjGEZOL/Ar3Io+a7DW47TpzUt4rZH6jfuOtwvDAyWCbeTpn9m4LzPpHBT6FpJXs9dDg1js5Jrf3KoRPcn7nsMLlfPZ6/luh5gNneFqskN1BTh1Q8Ghy/YSCd3lfyP9efQkZph4SpLC+mjnhP93YEUr2jrmRKs6XdZY/ITbN1LvvalSkM3NNs0ZeJmeLz9UIy2Jt8kWN4lu872CwB1+LyMlXNLZ+ot9dpFHYSn3EpZHVRY5P1Gh4QI7botG/ibw7RiM4i7XXVmvctvLbF2lUHSM3h2ksvkp+ZOgbX9FftVTjTSH1nZmClkqyJ914Ry+5bJ/AVUv2HxLEWO+ecl7wsYE5iQcFdaOWx6jt/0HdcUAQNUiOMLisnp4l+wUv4sixTsHQFLk0TXAzlf4Wh2BtOfc5eUpQYvXqKRFUTtN/35jt2Tnudl21YCaaXN4omFjGfzL3j6DX2ttpnyDuM/lEgsbC48wPStJo2ky9u1ajq9eaQWm8G+efDJRp2M8wv+OsxvQg/5s9UmNsO/WeNkGF33qLC4KpKGbWGzP/BUFL1lF4AwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWSaUhUURzFJ6U+SFHYIkoFpTD33rEPjURRWh1ixBGkcqNBdGZa1JIo2kxoA8FsJGksMI1K+5DlUgaKYRROyERkZWluIQotlmiLLQNK2uud1/v043D+53/ufTek6sto6Mn+BJOpbaZmRUyQSfvOhUlEu106T4dL9Kbt0jk2SqJyGbloqcSDfdk6J00KbH+5U2dTQKDXR730h4Ct3qnz/gmBRi9nEwcFxh27dT79RKA5ao/OLRq3ljNnnl8g8xt1l0/g7ZsDwXq+1jMx7uOsfxR3R8AeyV3XNW667dZ5oFYgIsD+Wx4KlORw16ERgcoP7HBqo4DzEbmhWaD4rMFDAu32F3P+76qNcOh6Sp0ZqyuYU3jZDISSHRfMONid1llt+COHU3g/IRZ4dzDTNteC7Ex2i69TWJzFWesrhWPXeF7fUQu+HiHPH1KI/UT/Ip9CXhP19FsKzqfk+0UKNxvJr48rdK0lx+coBGdxdoFL8xj5qQkKl3LJHrvCkvNGpqav6aZ/XbLCQJ7RwS1xr4wcliFhqyI3bZVwXSVfdEmsMv77WJHESA1zPFkS1aPGLm22a4J6qUNC9pGTND5zg55NqRLPreTBdIn+SfJ0msSVbfTnJ0tYPLzP9wUSJ4xdz4olyqboD2jd/AW82/J6iZlo8p92id/L+U4OK4WOFvqDvktYP5NjChUW7mX+Bo9Cw3rq4b8UHndwV2uPwvA43+TdToWV+czP9StM9fG9tWUojG2m/rNHwvuOs7NLJCYlMyu0zn8BOz0KongDAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWSb0hTYRjFl4soWX0w6sOoKJVKtCyjP0TB6YMwCyorQzGdmtkfYUVIUU0LQTOj1kRoTQx9797XJiqLjMAgTCIo7B9aqX1oJKmNaRHDQKO17rm9n34cznOe5z73iW+ZCiVUDttMpt5o26pNcabYm16okFZcpLNlgcLHnKM634pIeJeTf5sVHp8q09lhU8h+U6Lz/H0x/1Pq4RyFzA67zutzFQJu1lZUK0zmleoc36XwMPmYzt5OhZ7bzJkKKBT8oG7rUfj0/rTZpL/e6O6dY3P+0c2gQlYSe738rNDtL9b50LiC9Rfnr+5TuH6cvZIdCt6vnMHS2wb7E3LXO4W6qwZXKjzLej3vf692a56ul4zdw8Y7zImz+LErgXx4mR9nBnPethr+pOBB7meNgDuXmVXJAmUFnM05JrCkkLU+r8C5u/ze2uxWfK8gh6oEdkzQH+wRKO+mfiQsYH9B9qRrUAFy6R4NA1vJTocGcyFrJ5wxj5Ff1KGh8QQ54tew9IaRGdM3D9Lv8WgYKTdmuChxv4E8UiuR2UJuaZYoaiZ/uSSxzvjvG9IlxtuYE7ks0RoyetVIDPykHr4mkTJEdtRLXBH01DdKvMog73VJDM+QLW6Jpv30Wz0SqfXcJ7IknEavs6kSDbP0W2OzPb/A3Y6M+hBNIy964MP0Ct5J4oSG/kf0z833IeMbWWzRsPgk8xvWaujcTv3DAYG+fvZqdAkEJ3mT7U0CieeZvy0gMDvEe6ur0RAG9ZUuH9yjrP2zWmImxciMzfwXzfKMl3gDAAA=" />
  </appSettings>
</configuration>